.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  /* background-position: 50% 50%; */
  background-size: cover;
  text-align: center;
}

.hero__section {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  text-transform: uppercase;
}
