// .team-section-bg {
//   background-color: var(--team-section-background);
// }

// .ourteam-content {
//   display: flex;
//   margin-top: -30px;
//   margin-left: -30px;
// }

// .ourteam-list {
//   flex-basis: calc((100% - 120px) / 4);
//   margin-top: 30px;
//   margin-left: 30px;

//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
//   background-color: #ffffff;
// }

// .ourteam-conteiner {
//   padding-top: 30px;
//   padding-right: 32px;
//   padding-bottom: 30px;
//   padding-left: 32px;
//   text-align: center;
// }

// .team-title {
//   margin-bottom: 50px;

//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.17;
//   text-align: center;
// }

// .team-name {
//   margin-bottom: 10px;

//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
// }

// .team-position {
//   margin-bottom: 16px;
//   font-size: 16px;
//   line-height: 1.19;
//   color: var(--features-text-team-position-portfolio-projects-text);
// }
